{% extends 'home.html' %}
{% block content %}
<div class="column column_main form_column">
    <h1>כניסה למערכת</h1>
    {% if current_user.is_authenticated %}
        הי {{ current_user.name }}, <a href="/logout">רוצים להתנתק?</a>
        <p></p>
    {% endif %}
    <form action="{{ url_for('auth.login') }}" method="POST" name="login">
        <label for="username">שם משתמש</label><br>
        <input type="text" name="username" id="username" autofocus><br>
        <label for="password">ססמא</label><br>
        <input type="text" name="password" id="password"><br>
        <br>
        <button type="submit">כניסה</button>
        <p>{{ error }}</p>
        <p>לא פתחתם חשבון עדיין? <a href="/register">הירשמו</a></p>
        <br>
    </form>
</div>
{% endblock %}