{% extends 'home.html' %}
{% block content %}
<div class="column column_main form_column">
    <h1>רישום למערכת</h1>
    <form action="{{ url_for('auth.register') }}" method="POST" name="register">
        <label for="username">שם משתמש</label><br>
        <input type="text" name="username" id="username" autofocus><br>
        <label for="password">ססמא</label><br>
        <input type="text" name="password" id="password"><br>
        <br>
        <button type="submit">רישום</button>
        <p>{{ error }}</p>
        <p>פתחתם כבר חשבון? <a href="/login">היכנסו</a></p>
        <br>
    </form>
</div>
{% endblock %}